body{
    background-color: #ffe4c4;
}
.logo{
    display: flex;
    height: 75px;
    margin: 10px;
}
.navbar{
    background-color: #876f52 !important;
}

main{
    padding: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.foto-thomas{
    display: flex;
    height: 300px;
    animation-name: entrada-superior;
    animation-duration: 2s;
}
@keyframes entrada-superior{
    0%{
        transform: translateY(-400px);
    }
    100%{
        transform: translateY(0);
    }
}
h2{
    text-align: center;
}
.imagenes{
    display: flex;
}
.imagenes-proyectos{
    width: 450px;
    display: flex;
    justify-content: center;
    height: 450px;
    padding: 50px;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.imagenes-proyectos:hover{
    transform: scale(2);
}
.experiencia-laboral{
    text-align: center;
    justify-content: space-around;
    padding: 75px;
}
.experiencia-laboral .marcas a{
    text-decoration: none;
    color: #000000;
}
.logo-contacto{
    display: flex;
    height: 200px;
    justify-content: center;
}
button{
    text-align: center;
    display: flex;
    margin-left: 622px;
}
.home ul li a{
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
nav ul{
    list-style-type: none;
}
.logo-contacto{
    display: flex;
    height: 300px;
    justify-content: center;
}
.foto-sobremi{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
}
.ig-sobremi{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    
}
.p-sobremi{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-right: 100px;   
}
.titulo-sobremi{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}